:root {
  --darkBlue: #1A445E;
  --cadetBlue: #54A18F;
  --seaGreen: #287278
}

.container {
  display: flex;
  justify-content: center;
}

.appName {
  text-align: center;
}

.slogan {
  text-align: center;
}


.prompt {
  text-align: center;
}

.header {

  /* box-model */
  padding-top: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;

  /* visual */
  background-color: var(--cadetBlue);
}

.addCard {
  display: flex;
  justify-content: center;
}

.addPoll {
  margin-bottom: 2em;
}

.argOne {
  display: flex;
}

.argTwo {
  display: flex;
  justify-content: center;
}

.bigQ {
  text-align: center;
}

.closeDel {
  text-align: center;
  margin-bottom: 3em;
}

.createButton {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 3em;
}

.cardClass {
  display: flex;
  justify-content: center;
}

.prompt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1em;
}

.pollPoll {
  width: 50%;
}

.list-group-flush {
  display: flex;
}
